{{#each requests as |request|}}
  <div class="element-body-task {{requestClass}} {{shadowRequestClass}}"
       {{action "toggleTask" style on='click'}}
       style="top: {{getTaskShift request free}}px;
              z-index: {{getZIndex currentHour endHour dayId}}">

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">№ заявки:</span>
      {{request.index}}
    </div>

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Срочность: </span>
      {{request.importance}}
    </div>

    <ol class="element-body-task-detail element-body-task-detail_list">
      <li class="element-body-task-detail__header" value="0">Задачи:</li>
        {{#each (getTaskList request) as |requestElement|}}
          <li class="element-body-task-detail__element">
             {{requestElement.content}}
          </li>
        {{/each}}
    </ol>

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Адрес:</span>
      {{request.fullAddress}}
    </div>

    {{#if (invertBool free)}}
      <div class="element-body-task-detail">
        <span class="element-body-task-detail__header">Время начала: </span>
        {{getTimeString request.dateStart 'full' 'UTC'}}
      </div>
    {{/if}}

    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Предварительная длительность работ: </span>
      {{getTimeString request.fullDuration 'full'}}
    </div>
  </div>
{{/each}}