{{#each teams as |team|}}
  <div class="element-body-task" style="position: static">
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">№ бригады:</span>
      {{team.index}}
    </div>
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Начало смены:</span>
      {{team.timeStart}}
    </div>
    <div class="element-body-task-detail">
      <span class="element-body-task-detail__header">Окончаение смены:</span>
      {{team.timeEnd}}
    </div> 

    <h3>Заявки закрепленные за бригадой</h3>
    {{#if team.tasks}}
      {{form-task  comment='Это от бригады №' num=team.index  tasks=team.tasks}}
    {{else}}
      -- нет заявок --
    {{/if}} 
  </div>
{{/each}}  
