{{#if status}}
  <td class="element-body__cell element-body__cell_empty"></td>
  <td class="element-body__cell element-body__cell_empty"></td>
{{else}}
  <td class="element-body__cell">
      {{hour}}:00
  </td>
  <td class="element-body__cell query-hour-{{hour}}"
      data-name="{{getDateForm date}}">
    {{#each requestList as |request|}}
      {{#if (getTask request currentDate hour)}}
        {{form-task comment='Это выбранные'
                    requestClass="element-body-task_resize"
                    dayId=dayId
                    team=team
                    lastRequest=lastRequest
                    endHour=endHour
                    currentHour=hour
                    request=(getTask request currentDate hour)
                    free=false
                    reestablish=false
                    reloadTable='reloadTable'}}
      {{/if}}
    {{/each}}
  </td>
{{/if}}