<td class="element-body__cell">
    {{hour}}:00
</td>
<td class="element-body__cell query-hour-{{hour}}"
    data-name="{{getDateForm date}}">
        {{#each requestList as |request|}}
            {{form-task comment='Это выбранные'
                        requestClass="element-body-task_resize"
                        dayId=dayId
                        endHour=endHour
                        currentHour=hour
                        requests=(getTask request
                                          request.dateStart
                                          currentDate
                                          hour)
                        free=false}}
        {{/each}}
        {{#each freeRequestList as |request|}}
          {{form-task comment='Это призрачные'
                      requestClass="element-body-task_resize"
                      shadowRequestClass='element-body-task_shadow'
                      team=team
                      lastRequest=lastRequest
                      dayId=dayId
                      endHour=endHour
                      currentHour=hour
                      requests=(getTask request
                                        request.planeDateStart
                                        currentDate
                                        hour)
                      free=true}}
        {{/each}}
</td>
