{{#if status}}
  <td class="element-body__cell element-body__cell_empty"></td>
  <td class="element-body__cell element-body__cell_empty"></td>
{{else}}
  <td class="element-body__cell">
      {{hour}}:00
  </td>
  <td class="element-body__cell query-hour-{{hour}}"
      data-name="{{getDateForm date}}">
    {{#each requestList as |request|}}
        {{form-task comment='Это выбранные'
                    requestClass="element-body-task_resize"
                    reestablishRequestClass=''
                    dayId=dayId
                    team=team
                    lastRequest=lastRequest
                    endHour=endHour
                    currentHour=hour
                    requests=(getTask request
                                      currentDate
                                      hour)
                    free=false
                    reestablish=false
                    reloadTable='reloadTable'}}
    {{/each}}
    {{#each freeRequestList as |request|}}
      {{form-task comment='Это призрачные'
                  requestClass="element-body-task_resize"
                  shadowRequestClass='element-body-task_shadow'
                  reestablishRequestClass=''
                  team=team
                  lastRequest=lastRequest
                  dayId=dayId
                  endHour=endHour
                  currentHour=hour
                  requests=(getTask request
                                    currentDate
                                    hour)
                  free=true
                  reestablish=false
                  reloadTable='reloadTable'}}
    {{/each}}
  </td>
{{/if}}