<h3 class="ui header">{{t 'forms.i-i-s-gorvodokanal-team-e.caption'}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.index
    class=(if model.errors.index 'error' '')
    label=(t 'forms.i-i-s-gorvodokanal-team-e.index-caption')
  }}
  {{flexberry-validationmessage error=model.errors.index pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.shiftStartHour
    class=(if model.errors.shiftStartHour 'error' '')
    label=(t 'forms.i-i-s-gorvodokanal-team-e.shiftStartHour-caption')
  }}
  {{flexberry-validationmessage error=model.errors.shiftStartHour pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.shiftStartMinutes
    class=(if model.errors.shiftStartMinutes 'error' '')
    label=(t 'forms.i-i-s-gorvodokanal-team-e.shiftStartMinutes-caption')
  }}
  {{flexberry-validationmessage error=model.errors.shiftStartMinutes pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.shiftEndHour
    class=(if model.errors.shiftEndHour 'error' '')
    label=(t 'forms.i-i-s-gorvodokanal-team-e.shiftEndHour-caption')
  }}
  {{flexberry-validationmessage error=model.errors.shiftEndHour pointing="pointing"}}
</div>

<div class="field">
  {{
    flexberry-field
    placeholder=(t 'components.flexberry-field.placeholder')
    readonly=readonly
    required=true
    value=model.shiftEndMinutes
    class=(if model.errors.shiftEndMinutes 'error' '')
    label=(t 'forms.i-i-s-gorvodokanal-team-e.shiftEndMinutes-caption')
  }}
  {{flexberry-validationmessage error=model.errors.shiftEndMinutes pointing="pointing"}}
</div>

</form>
