<h3 class="ui header">
  {{t 'forms.i-i-s-gorvodokanal-request-e.caption'}} #
  {{#unless model.isNew}}
    {{model.index}}
  {{/unless}}
</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=model.errors}}
    </div>
  </div>
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button type="submit" class="ui button save-button" {{action 'save'}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        <button type="submit" class="ui button save-button" {{action 'saveAndClose'}}>
          {{t "forms.edit-form.saveAndClose-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button type="submit" class="ui button save-del-button" {{action 'delete'}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button type="submit" class="ui button close-button" {{action 'close'}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>

  <div class="field">
    <label>{{t 'forms.i-i-s-gorvodokanal-request-e.address-caption'}}</label>
    {{
      flexberry-lookup
      choose='showLookupDialog'
      remove='removeLookupValue'
      value=model.address

      relationName='address'
      projection='AddressL'
      title=(t 'forms.i-i-s-gorvodokanal-request-e.address-caption')
      readonly=readonly
      componentName="addressLookup"
    }}
    {{flexberry-validationmessage error=model.errors.address pointing="pointing"}}
  </div>

<div class="field"
     onclick={{action 'clearAppoint' model.isAppointed}}>
  <label>{{t 'forms.i-i-s-gorvodokanal-request-e.isAppointed-caption'}}</label>
  {{
    flexberry-dropdown
    items=(flexberry-enum 'i-i-s-gorvodokanal-t-appointed')
    value=model.isAppointed
    readonly=readonly
  }}
  {{flexberry-validationmessage error=model.errors.isAppointed pointing="pointing"}}
</div>

{{#if (isEqual model.isAppointed 'назначено')}}
  <div class="field">
    <label>{{t 'forms.i-i-s-gorvodokanal-request-e.team-caption'}}</label>
    {{
      flexberry-lookup
      choose='showLookupDialog'
      remove='removeLookupValue'
      value=model.team
      relationName='team'
      projection='TeamL'
      title=(t 'forms.i-i-s-gorvodokanal-request-e.team-caption')
      readonly=false
      componentName="teamLookup"
      dropdown=true
      displayAttributeName='index'
    }}
    {{flexberry-validationmessage error=model.errors.team pointing="pointing"}}
  </div>

  <div class="field">
    <label>{{t 'forms.i-i-s-gorvodokanal-request-e.dateStart-caption'}}</label>
    {{
      flexberry-datepicker
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.dateStart
      class=(if model.errors.dateStart 'error' '')
    }}
    {{flexberry-validationmessage error=model.errors.dateStart pointing="pointing"}}
  </div>

  <div class="field"
       onclick={{action 'clearCompleted' model.isCompleted}}>
    <label>{{t 'forms.i-i-s-gorvodokanal-request-e.isCompleted-caption'}}
      {{
      flexberry-checkbox
      readonly=readonly
      value=model.isCompleted
    }}
    </label>

  </div>

  {{#if model.isCompleted}}
    <div class="field">
      <label>{{t 'forms.i-i-s-gorvodokanal-request-e.dateEnd-caption'}}</label>
        {{
          flexberry-datepicker
          placeholder=(t 'components.flexberry-datepicker.placeholder')
          readonly=readonly
          value=model.dateEnd
          class=(if model.errors.dateEnd 'error' '')
        }}
        {{flexberry-validationmessage error=model.errors.dateEnd pointing="pointing"}}
      </div>
    {{/if}}
  {{/if}}

  <div class="field">
    <label>{{t 'forms.i-i-s-gorvodokanal-request-e.tasks-caption'}}</label>
    {{
      flexberry-groupedit
      componentName="tasksGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.tasks
      content=model.tasks
      readonly=readonly
      orderable=false
      class=(if model.errors.tasks 'error' '')
    }}
    {{flexberry-validationmessage error=model.errors.tasks pointing="pointing"}}
  </div>

</form>
