<div class="form">
    <div class="form__comment">
        Для теста рекомендуется использовать следующие параметры:
        <ol>
            <li>дефолтные значения</li>
            <li>бригада 101, дата 28.11.2019</li>
            <li>бригада 102, дата 26.11.2019</li>
        </ol>
        {{#if (invertBool isShowButtons)}}
              <button class="form-header__element form-header__element_button form-header__element_small-button"
                      {{action "setDefaulData"}}>
                  Заполнить по дефолту
              </button>
        {{/if}}
    </div>

    <header class="form-header">
        <label class="form-header__element" for="team-id">
            Номер бригады:
            {{input class="form-header__input"
                    type="number"
                    id="add-team-id"
                    enter="validateInputs"
                    value=inputTeamId}}
        </label>
        {{log errors}}
        {{input-error errors=errors.team}}

        <label
            class="form-header__element"
            for="add-date">
                Дата (в формате ДД.ММ.ГГГГ):
                {{input class="form-header__input"
                        type="date"
                        id="add-date"
                        enter="validateInputs"
                        value=inputDate}}
                {{currentDateString}}
        </label>
        {{input-error errors=errors.date}}
        <div class="form__comment form-comment_inner">
            Для применения новых параметров нажмите enter
        </div>
    </header>
    {{#if isShowTable}}
        <main
            class="form-body"
            id="table">
                {{#each week as |day|}}
                    {{table-form hours=hours
                                 day=day
                                 date=date
                                 status=status
                                 taskList=requestList
                                 shiftOptions=teamShiftInfo
                                 totalTask=(getTotalTask (getDateForm (getDate day.id date.value)) taskCount)}}
                {{/each}}
        </main>
    {{/if}}
    {{#if isTasksCreated}}
        <footer class="form-footer">
            <h2 class="form-footer__title">
                Свободные заявки
            </h2>
            {{form-task taskClass="element-body-task_not-table"
                        teamId=inputTeamId
                        tasks=freeRequestList
                        team=teamList
                        free=true}}
        </footer>
    {{/if}}
</div>